extends layout

block content
	content
		.wrapper
			.content-container
				p TODO:
				ol
					p backend:
					li user should enter old password when changing password in dashboard.
					li social media stuff? social media authentication maybe
					li more stuff in user dashboard 
				ol
					p frontend:
					li style all these freaking pages.....
					li share to social media?
				h2 Recent Polls

				each poll in polls
					if (poll.disabled == false)
						a(href="/poll/#{poll._id}")
							.poll-list
								.poll-title
									span #{poll.title}
								.poll-creator
									span Created By: #{poll.author.username}
								.poll-date
									span on #{poll.createdAt.toDateString()}

//- index should have navbar, new polls listed, a search box to search poll title.