doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		//- link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', media='screen')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/icons.css')
		link(href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet")

		block head

	body
		header
			nav
				.navbar
					.nav-title
						a(href='/') F.C.C Vote
					.nav-item						
						if (!loggedin)
							.right-20
								a(href="/login") Login
							.right-20
								a(href="/register") Register
						if (loggedin)
							.right-20
								a(href='/new/poll') Create a Poll					
							.right-20
								a(href="/logout") Log out
							.right-20
								span.user-icon 
									a(href='/dashboard') #{loggedin.fullname}
		block content
		
		footer
			.footer
				.icons
					a.black(href='https://www.facebook.com/crumpx')
						span.fa-stack.fa-lg
							i.fa.fa-square-o.fa-stack-2x
							i.fa.fa-facebook.fa-stack-1x

					a.black(href='https://www.twitter.com/crumpz')
						span.fa-stack.fa-lg
							i.fa.fa-square-o.fa-stack-2x
							i.fa.fa-twitter.fa-stack-1x

					a.black(href='https://github.com/crumpx')
						span.fa-stack.fa-lg
							i.fa.fa-square-o.fa-stack-2x
							i.fa.fa-github.fa-stack-1x		

					a.black(href='https://www.linkedin.com/in/gang-zhao-198201')
						span.fa-stack.fa-lg
							i.fa.fa-square-o.fa-stack-2x
							i.fa.fa-linkedin.fa-stack-1x			
				p Created by Gang Zhao	

	script(src='https://code.jquery.com/jquery-3.1.1.min.js')
	//- script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.min.js')
	script(src='/javascripts/javascript.js')
	//- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

