@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');


body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
}

nav {
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

ul {
	list-style: none;
}

fieldset {
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid rgba(232,29,98,0.2);
	box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.4);
}

fieldset:hover {
	box-shadow: -4px 4px 6px 0px rgba(0, 0, 0, 0.4);
}

.hugh-text {
	font-size: 3em;
}

.flex-box-row {
	display: flex;
	flex-direction: row;
}
.right-20>a {
	padding: 13px;
}

.right-20>a:hover {
	border: 1px solid #ffffff;
	color: #212121;
	transition: 0.4s;
}

.right-20 {
	margin-right: 20px;
}

.less-red {
	background-color: rgb(202,75,101);
}


.black {
	color: black;
}

.white {
	color: white;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.little {
	min-width:14vw;
}

.short {
	min-width: 20vw;
}

.mid {
	min-width: 30vw;
}

.long {
	min-width: 50vw;;
}

.underline {
	text-decoration: underline !important;
}

.underline:hover {
	color: #8BC34A;
}

.navbar {
	width: 100%;
	background-color: rgba(232,29,98,0.8);
	display: flex;
	align-items: center;
	flex-direction:row;
	justify-content: space-between;
	padding:8px 10px;
	border-bottom: 1px solid black;
	position: fixed;
}

.nav-title {
	display: inline;
	font-family: 'Josefin Slab', serif;
	font-size: 40px;

}

.nav-item {
	display: flex;
	flex-direction: row;
}

.user-icon a {
	padding:8px;
	font-family: 'Josefin Slab', serif;
	font-weight: 700i;
	background-color: #8BC34A;
	box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 0.4);
	color: #ffffff;
	border-radius: 4px;
	border:0.2 solid #C2185B;
	transition: 0.4s;
}

.user-icon a:hover {
	box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.4);
}

.user-icon a:active {
	box-sizing: border-box;
	background-color: #E91E63;
	box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
	border:1px solid black;
}


/*contents*/

.wrapper,
.wrapper-v {
	display: flex;
	justify-content: center;
	padding: 80px 0px 160px 0px;
}

.wrapper-v {
	flex-direction: column;
}

.sub-nav {
	width: 100%;
	background-color: rgba(116,116,116,0.1);
	border-bottom: 1px solid #C2185B;
	margin-top: -45px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 40px;
}

.dummy {
	width: 100%;
}

.voteList {
	width:500px;
	background-color: #ffffff;
	margin-top: 20px;
	padding: 60px;
	border: 1px solid #99658B;
	border-radius: 8px;
	box-shadow: -4px 0px 30px 0px rgba(0, 0, 0, 0.4);
}

/* recent polls */

.poll-list {
	display: flex;
	flex-direction: column;
	color: black;
	border: 1.5px solid #BDBDBD;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	padding-bottom: 8px;
	box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.4);
}

.poll-list:hover {
	box-shadow: -2px 0px 20px 0px rgba(0, 0, 0, 0.4);
	transition: 0.4s;
}

.poll-title {
	color: #000;
	font-size: 20px;
	padding:8px;
	text-align: center;
	border-bottom: 1px solid black;
	background-color: #E91E63;
}

.poll-creator,
.poll-story,
.poll-date {
	text-align: left;
	padding: 12px 8px;
	color: #757575;
}

.poll-date {
	text-align: center;
}

/*new poll*/
.input-group {
	display: inline-block;
}

.container {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	font-size: 20px;
	align-items: center;
	width: 100%;
}

.container-row {
	margin: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.container-row a {
	padding: 12px;
	border: 1px solid #8BC34A;
	border-radius: 4px;
	transition: 0.4s;
}

.container-row a:hover {
	background-color:#8BC34A;
	color: white;
}

a.black.delete:hover {
	background-color: #E91E63;
}

.container h1 {
	text-align: center;
}

.form-title, 
.form-choice {
	padding: 12px 0px;
}

.new-poll-choice-item {
	padding: 5px 0px;
	display: flex;
}

.addButton {
	font-family: "FontAwesome";
	margin-left: 8px;
	margin-top: 6px;
	font-size: 30px;
}

.addButton::before {
	content: "\f055";
	color: #E91E63;
}

.addButton:hover::before {
	content: "\f055";
	color: #4CAF50;
	transition: 0.4s;
	cursor: pointer;
}


.removeButton {
	font-family: "FontAwesome";
	font-size: 30px;
	margin-left: 8px;
	margin-top: 6px;
}

.removeButton::before {
	content: "\f056";
	color: #757575;
}

.removeButton:hover::before {
	content: "\f056";
	color: #212121;
}


/*input boxes*/

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus,
input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

button[type='submit'],
.vote {
	padding: 10px;
	border:1px solid #8BC34A;
	border-radius: 5px;
	background-color:#fff; 
	color: #8BC34A;
}

button[type='submit']:hover,
.vote:hover {
	background-color: #8BC34A;
	cursor: pointer;
	color: #212121;
}


button.cancel[type='button'] {
	padding: 10px;
	background-color: #FFFFFF;
	border-radius: 5px;
	border: 1px solid #E91E63;
	color: black;
}

button.cancel[type='button']:hover {
	background-color: #E91E63;
	color: white;
}

.poll-list-container {
	display: flex;
	margin: 0px 40px;
	justify-content: center;
}

.poll-box {
	text-align: left;
}

.seperator {
	width: 80px;
}

.poll-item-box {
	padding-bottom: 4px;
	margin-bottom: 8px;
	border-bottom: 1px solid grey;
}

.poll-option-container {
	display: flex;
	flex-direction: column;
}

.pollOption {
	margin-bottom: 10px;
	padding-bottom: 6px;
	border-bottom: 1px solid black;
}

.pollOption:hover {

}


.pollOption label {	
	margin-left: 8px;
	cursor: pointer;
	transition: 0.4s;
}

.pollOption label:hover {	
	/*font-size: 1.05em;*/
	color:   #4CAF50;
	padding:2px 8px;

}

.pollOption input[type='radio'] {	
	display: none;
}
.pollOption input[type='radio'] + .label-text:before {
	font-family: "FontAwesome";
	content:'\f10c';
}

.pollOption input[type='radio']:checked + .label-text:before {
	content: '\f192';
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgb(232,29,98);
  text-align: center;
  border-top: 2px solid #E2E2e2;
}

.icons a:hover {
	color: #8bc34a;
}
