extends ../layout

block content
	.container
		h1 Editing
		P You may add options to your poll
		br
		form(role='form', action="?",method="post")
			fieldset
				.form-title
					label Your poll title
					br
					input.form-control(type='text', name="title", value='#{doc.title}')
				.form-title
					label Poll choices
					br
					for option in doc.options
						.form-title
							input.form-control(type='text', name="", value='#{option.text}' disabled)
							br
				.new-poll-choice-item
					input(type='text', name="options", placeholder='option')
					.addButton
						span +
				.form-choice
					
				button(type='submit') Submit
				&nbsp;
				a(href='/')
					button(type="button") Cancel