extends ../layout

block content
  .container
    h1 New Poll

    h4 Once the poll is created, you won't be able to change its options!
    br
    form(role='form', action="/new/poll",method="post", style='max-width: 300px;')
      .form-group
        label Your poll title
        input.form-control(type='text', name="polltitle", placeholder='Give this poll a title')
      .form-group#inputOptions
        label Poll choices
        .input-group
          input.form-control(type='text', name="options", placeholder='option')
          span.input-group-btn
            a.btn.btn-primary.addButton +
      button.btn.btn-default(type='submit') Submit
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") Cancel