extends ../layout

block head
	title= 'Create New Poll'


block content
	.wrapper
		.container
			h3 #{warning}
			h1 New Poll
			form(role='form', action="/new/poll",method="post")
				fieldset
					.form-title
						label Your poll title
						br
						input.mid(type='text', name="polltitle", placeholder='Give this poll a title')
					.form-title
						label Poll Story
						br
						input.mid(type='text', name="story", placeholder='Give this poll a description')
					.form-choice
						label Poll choices
						.new-poll-choice-item
							input.short(type='text', name="options", placeholder='option')
							.addButton

						.new-poll-choice-item
							input.short(type='text', name="options", placeholder='option')

				.center
					button(type='submit') Submit
					&nbsp;
					a(href='/')
						button.cancel(type="button") Cancel
			

