extends ../layout

block content
	.wrapper
		.container
			.form-title
				h1 User Login  
			form(role='form', action="/login",method="post")
				fieldset
					.form-choice
						input.little(type='text', name="username", placeholder='Enter Username')
					.form-choice
						input.little(type='password', name="password", placeholder='Password')
				.form-choice.center
					button(type='submit') Login
					&nbsp;
					a(href='/')
						button.cancel(type="button") Cancel