extends ../layout

block content
	.wrapper
		.container
			if (error)
				h4 #{error.message}
			.form-title
				h1 Register Page
			form(role='form', action="/register",method="post")
				fieldset
					.form-choice
						label(for='reg-fullname') Full Name:
						br
						input.little(type='text', id ='reg-fullname' name="fullname", placeholder='Enter Your Full Name' required)
					.form-choice
						label(for='reg-email') Your email:
						br
						input.little(type='email', id ='reg-email' name="email", placeholder='Enter Your Full Name' required)
					.form-choice
						label(for='reg-username') Username:
						br
						input.little(type='text', id='reg-username' name="username", placeholder='Enter Username' required)
					.form-choice
						label(for='reg-password') Password:
						br
						input.little(type='password', id='reg-password' name="password", placeholder='Password' required)
				.form-choice.center
					button(type='submit') Register
					&nbsp;
					a(href='/')
						button.cancel(type="button") Cancel

